.container{
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.cardListContainer {
    display: grid;
    width: 100%;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;
    box-sizing: border-box;
}

.missingDescriptionGroup{
    margin-bottom: 30px;
    text-align: center; /* 내부 텍스트 가운데 정렬 */
}

.missingTitle{
    margin-bottom: 10px;
}

.missingDescription{
    margin-top: 10px;
}

.enrolBtn{
    display: flex;
    justify-content: right;
}
