.navbar{
    width: 100%;
    max-width: 1280px;
    min-height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 20px;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 10px;
}

.navLogo{
    color: #333; /* 글자색 */
    text-decoration: none; /* 밑줄 제거 */
}

.navMenuGroup {
    display: flex;
    align-items: center;
}

.navIcon {
    font-size: 1.5rem;
    margin-right: 10px; /* 아이콘과 텍스트 사이 간격 */
}

.navMenu{
    color: #333; /* 글자색 */
    font-weight: 500;
    text-decoration: none; /* 밑줄 제거 */
    font-size: 1rem;
    padding: 10px 20px; /* 메뉴별 간격 */
    transition: all 0.2s ease-in-out; /* 부드러운 전환 효과 */
    display: flex;
    align-items: center; 
}

.navMenu:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.navBtnGroup{
    display: flex;
    align-items: center;
    gap: 5px;
}